/**
 * Variables
 */
/**
 * Reset
 */
/* line 13, screen.scss */
* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* Default text styles*/
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

/**
 * Layout
 */
/* line 31, screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 35, screen.scss */
html {
  overflow: hidden;
}

/* line 38, screen.scss */
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**
 * Typography
 */
/* line 46, screen.scss */
h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 51, screen.scss */
h2 {
  font-size: 30px;
  font-weight: 400;
}

/* line 55, screen.scss */
h3 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 60, screen.scss */
h4 {
  font-size: 24px;
  font-weight: 400;
}

/* line 64, screen.scss */
h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 69, screen.scss */
h6 {
  font-size: 18px;
  font-weight: 400;
}

/* line 73, screen.scss */
p, a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: none;
}

/* line 79, screen.scss */
a {
  color: #555;
}

/* line 82, screen.scss */
a:hover {
  color: #222;
}

/**
 * Separator Line
 */
/* line 89, screen.scss */
.separator-line {
  width: 100%;
  max-width: 740px;
  height: 1px;
  margin: 0 auto;
  background: lightgray;
}

/**
 * Gallery
 */
/* line 100, screen.scss */
.gallery {
  width: 100%;
  margin: 60px 0;
  overflow: hidden;
  text-align: center;
}

/* line 106, screen.scss */
.gallery__item {
  width: 20%;
  float: left;
  text-align: center;
}

/* line 111, screen.scss */
.gallery__image {
  display: block;
  width: 60%;
  max-width: 120px;
  margin: 0 auto 20px;
}
/* line 117, screen.scss */
.gallery__image.round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 121, screen.scss */
.gallery__label {
  font-size: 16px;
  padding: 0 10px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 700px) {
  /* line 128, screen.scss */
  .gallery__item {
    width: 50%;
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 400px) {
  /* line 134, screen.scss */
  .gallery__item {
    width: 100%;
    float: none;
    margin: 0 0 40px;
  }
}
/**
 * Gallery
 */
/* line 145, screen.scss */
.people {
  width: 100%;
  margin: 60px 0;
  overflow: hidden;
  text-align: center;
}

/* line 151, screen.scss */
.people__item {
  width: 33.33%;
  float: left;
  text-align: center;
}

/* line 156, screen.scss */
.people__image {
  display: block;
  width: 60%;
  max-width: 120px;
  margin: 0 auto 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 163, screen.scss */
.people__label {
  font-size: 16px;
  padding: 0 10px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* line 169, screen.scss */
.people__sub-label {
  font-size: 14px;
  padding: 5px 10px 0;
  font-weight: 400;
  letter-spacing: 0.02em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 176, screen.scss */
.people__icons {
  text-align: center;
  padding: 15px 10px 0;
}
/* line 179, screen.scss */
.people__icons .people__icon--lk,
.people__icons .people__icon--tw {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  background-image: url("/images/linkedin.png");
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 188, screen.scss */
.people__icons .people__icon--lk:hover,
.people__icons .people__icon--tw:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 192, screen.scss */
.people__icons .people__icon--tw {
  background-image: url("/images/twitter.png");
}

@media screen and (max-width: 700px) {
  /* line 198, screen.scss */
  .people__item {
    width: 50%;
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 400px) {
  /* line 204, screen.scss */
  .people__item {
    width: 100%;
    float: none;
    margin: 0 0 40px;
  }
}
/**
 * Header
 */
/* line 215, screen.scss */
.header {
  width: 100%;
  min-height: 80%;
  background: gray;
  background-image: url("/images/header.png");
  background-size: cover;
  border-bottom: 1px solid #c5d1dc;
  text-align: center;
  padding: 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

/* line 235, screen.scss */
.header__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 242, screen.scss */
  .header__content {
    max-width: 580px;
  }
}
/* line 246, screen.scss */
.header__logo {
  font-size: 58px;
  margin: 0 0 12px;
  letter-spacing: 1px;
  text-transform: none;
  color: #404042;
}

/* line 253, screen.scss */
.header__heading {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #404042;
}

@media screen and (max-width: 700px) {
  /* line 260, screen.scss */
  .header__logo {
    font-size: 45px;
  }

  /* line 263, screen.scss */
  .header__heading {
    font-size: 15px;
  }
}
/* line 267, screen.scss */
.header__separator {
  height: 2px;
  width: 60px;
  margin: 60px auto;
  background: #e5eaef;
}

/* line 273, screen.scss */
.header__nav {
  width: 100%;
  text-align: center;
}

/* line 277, screen.scss */
.header__nav a {
  display: inline-block;
  padding: 10px 5px;
  margin: 0 20px;
  color: #62AFD2;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

/* line 286, screen.scss */
.header__nav a:hover {
  color: #3a9bc7;
}

@media screen and (max-width: 700px) {
  /* line 290, screen.scss */
  .header__nav a {
    padding: 10px 0;
    margin: 0 10px;
  }
}
@media screen and (max-width: 400px) {
  /* line 296, screen.scss */
  .header__nav a {
    display: block;
  }
}
/**
 * About
 */
/* line 305, screen.scss */
.about {
  width: 100%;
  background: #fff;
  text-align: center;
}

/* line 310, screen.scss */
.about__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 317, screen.scss */
  .about__content {
    max-width: 580px;
  }
}
/* line 321, screen.scss */
.about__heading {
  width: 100%;
  margin: 0 0 40px;
}

/**
 * Process
 */
/* line 329, screen.scss */
.process {
  width: 100%;
  background: #F5F7F9;
  text-align: center;
  border-top: 1px solid #e5eaef;
  border-bottom: 1px solid #e5eaef;
}

/* line 336, screen.scss */
.process__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 343, screen.scss */
  .process__content {
    max-width: 580px;
  }
}
/* line 347, screen.scss */
.process__heading {
  width: 100%;
  margin: 0 0 40px;
}

/**
 * Benefit
 */
/* line 355, screen.scss */
.benefits {
  width: 100%;
  background: #fff;
  text-align: center;
}

/* line 360, screen.scss */
.benefits__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 367, screen.scss */
  .benefits__content {
    max-width: 580px;
  }
}
/* line 371, screen.scss */
.benefits__heading {
  width: 100%;
  margin: 0 0 40px;
}

/* line 376, screen.scss */
.benefits.benefits--business {
  border-bottom: 1px solid #e5eaef;
}
/* line 378, screen.scss */
.benefits.benefits--business .benefits__content {
  padding: 100px 20px 70px;
}

/**
 * Team
 */
/* line 387, screen.scss */
.team {
  width: 100%;
  background: #F5F7F9;
  text-align: center;
  border-top: 1px solid #e5eaef;
}

/* line 393, screen.scss */
.team__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 400, screen.scss */
  .team__content {
    max-width: 580px;
  }
}
/* line 404, screen.scss */
.team__heading {
  width: 100%;
  margin: 0 0 40px;
}

/**
 * About
 */
/* line 413, screen.scss */
.contact {
  width: 100%;
  background: #fff;
  text-align: center;
  border-top: 1px solid #e5eaef;
}

/* line 419, screen.scss */
.contact__content {
  width: 100%;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* line 426, screen.scss */
  .contact__content {
    max-width: 580px;
  }
}
/* line 430, screen.scss */
.contact__heading {
  width: 100%;
  margin: 0 0 40px;
}

/* line 434, screen.scss */
.contact__separator {
  height: 1px;
  width: 60px;
  margin: 60px auto;
  background: rgba(0, 0, 0, 0.3);
}

/* line 440, screen.scss */
.contact__list {
  width: 100%;
  text-align: center;
}

/* line 444, screen.scss */
.contact__list a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px 10px;
  color: #62AFD2;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

/* line 453, screen.scss */
.contact__list a:hover {
  color: #62AFD2;
}

/* line 456, screen.scss */
.contact__list a.email {
  background: #62AFD2;
  color: #fff;
  border-radius: 4px;
}

/* line 461, screen.scss */
.contact__list a.email:hover {
  text-decoration: none;
  background: #62AFD2;
}

@media screen and (max-width: 400px) {
  /* line 466, screen.scss */
  .contact__list a {
    display: block;
    margin: 0 0 10px;
  }
}
